.collapse-button {
  display: flex;
  margin-left: 1.5vw;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2vh;
  width: 8vw;
  height: 4.5vh;
  background: grey;
}

.collapse-button:hover {
  background: grey;
}

.header-icon {
  background: grey;
  color: azure;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.main-flex-container {
  display: flex;
  width: 95%;
  align-self: center;
  margin-top: 3%;
  margin-left: 3%;
  border-radius: 36px;
  background: #e6e6e6;
  box-shadow: 8px 8px 16px #cfcfcf, -8px -8px 16px #fdfdfd;
}

.widget-row {
  height: 50%;
}

.btn:hover {
  color: #4f6f52;
  border-color: #4f6f52;
}

.side-menu-button {
  color: "white";
  font-size: "16px";
  width: 64;
  height: 64;
}

.side-menu-text {
  color: white;
  font-family: "Zen Maru Gothic";
  margin: "16px 0";
}

.widget {
  background: "#0092ff";
  height: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #b6d7e4;
  box-shadow: 15px 15px 30px #9bb7c2, -15px -15px 24px #d1f7ff;
}

.widget-button {
  font-family: "Zen Maru Gothic";
  font-weight: 300;
  background-color: "#0092ff";
  padding: "8px 10px";
}
