.collapse-button {
  display: flex;
  margin-left: 1.5vw;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2vh;
  width: 8vw;
  height: 4.5vh;
  background: grey;
}

.collapse-button:hover {
  background: grey;
}

.header-icon {
  background: grey;
  color: azure;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.main-flex-container {
  display: flex;
  flex-direction: column;
  height: 95%;
  width: 95%;
  align-self: center;
  margin-top: 1%;
  margin-left: 2%;
  border-radius: 36px;
  background: #e6e6e6;
  box-shadow: 8px 8px 16px #cfcfcf;
  max-height: 95vh; /* At least full viewport height */
}

.btn:hover {
  color: #4f6f52;
  border-color: #4f6f52;
}

.side-menu-button {
  color: "white";
  font-size: "16px";
  width: 64;
  height: 64;
}

.side-menu-text {
  color: white;
  font-family: "Zen Maru Gothic";
  margin: "16px 0";
}

.widget {
  background: "#0092ff";
  height: 80%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #b6d7e4;
  box-shadow: 15px 15px 30px #9bb7c2, -15px -15px 24px #d1f7ff;
}

.adwidget {
  background: "#0092ff";
  height: 80%;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #e6e6e6;
  box-shadow: 5px 5px 13px #d4d4d4, -5px -5px 13px #f8f8f8;
}

.chartwidget {
  background: "#0092ff";
  height: 80%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #203350;
  box-shadow: 5px 5px 13px #d4d4d4, -5px -5px 13px #f8f8f8;
  padding-top: 5%;
  padding-bottom: 10%;
}

.widget-button {
  font-family: "Zen Maru Gothic";
  font-weight: 300;
  background-color: "#0092ff";
  padding: "8px 10px";
}

.account-container {
  display: flex;
  justify-content: center;
  height: 95%;
  width: 95%;
  align-self: center;
  margin-top: 1%;
  margin-left: 2%;
  border-radius: 36px;
  background: #e6e6e6;
  box-shadow: 8px 8px 16px #cfcfcf;
  max-height: 95vh; /* At least full viewport height */
  overflow: scroll;
}