.chart-container {
  width: 100%; /* full width */
  height: 400px; /* for example, can be set in vh units as well */
  padding: 0;
  position: relative; /* This can help if using absolute positioning inside */
}
