.container {
  width: 100%;
  height: 100%;
  margin-top: 10%;
  border-radius: 6px;
  background-image: linear-gradient(180deg, #134cb4 0%, #1a3094 100%);
  box-shadow:  5px 5px 13px #182c88
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-bar input {
  display: flex;
  width: 50%;
  margin-top: 5%;
  background: #ebfffc;
  border: none;
  outline: none;
  border-radius: 6px;
  color: #626262;
  padding-left: 5px;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 8%;
  background: #ebfffc;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5%;
  margin-left: 3%;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}

.weather-info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-image {
  height: 50%;
  width: 50%;
  scale: 0.35;
  height: auto;
  width: auto;
  max-height: 20vh;
  max-width: 20vh;
  margin-left: -25%;
  margin-right: -10%;
}

.weather-desc {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 120%;
}

.weather-temp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 200%;
}

.weather-location {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2vh;
  font-weight: bold;
  margin-top: 5%;
}

.data-container {
  margin-top: 10%;
  color: white;
  display: flex;
  justify-content: space-around;
}

.element {
  margin: auto;
  display: flex;
  align-items: center;
  gap: 4%;
}

.data {
  font-size: 1.25vw; /* 1.3vw */
  font-weight: bold;
}

.text {
  font-size: 90%;
  font-weight: bold;
}

.icon {
  align-items: center;
}
