.Dashboard {
    min-height: 100vh;
    height: 100%;
    
}

.Side-Menu-Button {
    color:'white';
    font-size: '16px';
    width: 64;
    height: 64;
}

.Side-Menu-Text {
    color: white;
    font-family: 'Zen Maru Gothic';
    margin: '16px 0';
}