.collapse-button {
    display: flex;
    margin-left: 1.5vw;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2vh;
    width: 8vw;
    height: 4.5vh;
    background: grey;
}

.header-icon {
    background: grey;
    color:azure;
    padding: 8px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 95%;
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 36px;
    background: #e6e6e6;
    box-shadow:  8px 8px 16px #cfcfcf,
             -8px -8px 16px #fdfdfd;
}

.trip-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 90%;
    width: 95%;
    margin-top: 1%;
    margin-left: 3%;
    border-radius: 36px;
    background: #e6e6e6;
    box-shadow:  8px 8px 16px #cfcfcf,
             -8px -8px 16px #fdfdfd;
    overflow: auto;
    padding-bottom: 2rem;
}

.search-card {
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin-left: 1rem;
    margin-top: 2%;
    margin-bottom: 1%;
    border-radius: 36px;
    background: #f7f7f7;
    box-shadow:  8px 8px 16px #dedede,
             -8px -6px 16px #ffffff;
}

.location-search-input-box {
    border-radius: 36px;
}

.location-search-input {
    width: 200px;
    font-family: 'Zen Maru Gothic';
}